.contactForm {
    padding: 2rem;
    // border: 2px solid red;
    
    width: 100%;
    text-align: center;
    margin: auto;
    &-title {
        font-size: 10vw;
        color:#fff;

        @media screen and (min-width: 64em){font-size: 5vw;}
    }
    [required]:invalid {background-color: rgba(255, 0, 0, 0.3);}
    [required]:valid {background-color: rgba(0, 221, 129, 0.3);}
    [required]:focus {background-color: rgba(202, 202, 202, 0.301); outline: none;}

    & > input,
    & > textarea {
        text-align: center;
        display: block;
        width: 100%;
        padding: .5rem;
        margin: 1rem auto;
        border:0;
        border-bottom: medium solid #0096d9;
        background-color: transparent;
        color: #fff;
        font: {
            family:"Montserrat";
            size:1.5rem;
            // weight:bold;
        };
        resize: none;
        transition:all .3s ease-in-out;
    }

    & > input[type="submit"]{
        margin: 2rem auto;
        display: 2rem;
        border: 0;
        background-color: #0096d9;
        color: #fff;
        transition:all .3s ease-in-out;
        cursor: pointer;

        // @media screen and (min-)

        &:hover {
            background-color: #fff;
            color: #0096d9;
        }
    }

    & > *::-webkit-input-placeholder {
        color:rgb(206, 204, 204);

        font: {
            family:"Montserrat";
            size:1.5rem;
            // weight:bold;
        };
    }

    @media screen and (min-width:64em){width: 80%;} 
}