mixin contactForm()
  form.contactForm
    h2.contactForm-title contactanos
    input#nombre(type="text", name="nombre", placeholder="Escribe tu nombre", title="solo letras y espacios", pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$",required)
    input#email(type="email", name="email", placeholder="Escribe tu email", title="tu email", pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$",required)
    input#asunto(type="text", name="asunto", placeholder="asunto a tratar", title="asunto a tratar", required)
    textarea#comentarios(name="comentarios", cols="30", rows="10" placeholder="Escribe tu comentario" title="Tus comentarios" required)
    input(type="submit", value="Enviar")