//-/**
//-*   @fileoverview
//-*     Componente para generar una imagen responsive con soporte al formato Webp, aplica sólo para imágenes .jpg
//-*     Dependencias: Ninguna
//-*
//-*   @param {String} name, nombre de la imagen sin incluir la extensión, se define en el archivo pug
//-*
//-*   @returns {void} no retorna nada
//-*
//-*   @author Jonathan MirCha <jonmircha@gmail.com>
//-*   @version 1.0.0
//-*/
mixin pictureWebp(name)
  picture
    source(srcset=`./img/${name}.webp`, type="image/webp")
    img(src=`./img/${name}.jpg`)
