.googleMap {
    width: inherit;
    height: inherit;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.472);

    @media screen and (min-width:64em){display: flex;}

    & a {
        display: inline-block;
        padding: 1rem 0;
        font: {
            size:7.5vw;
            weight:bold;
        };
        color:#fff;
        &:hover {color:#0096d9;}
    }
    & iframe{
        width: inherit;
        height: inherit;
    }
}

.contact {
    width: 100%;
    min-height: 100vh;
    background: {
        image:url("./img/contacto-hola.jpg");
        position:center;
        repeat: no-repeat;
        size: cover;
    };
    display: grid;
    grid-template: {
        columns:100%;
        rows:repeat(3,auto);
        areas:"video" "info" "map";
    };

    @media screen and (min-width:64em){
        grid-template: {
            columns:repeat(3,1fr);
            rows:100vh 1fr;
            areas:"video video video"
                  "map info info";
        };
    }

    &-video {grid-area: video;}
    &-info {grid-area: info; width: inherit; height: inherit;background-color: rgba(0, 0, 0, 0.6);}
}
.googleMap {grid-area: map;}