.u-flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ga1 {
    grid-area: span 1;
}
.ga1-2 {
    grid-area: span 1 / span 2;
}
.ga1-3 {
    grid-area: span 1 / span 3;
    
}
.ga2 {
    grid-area: span 2;
    
}

.ga2-2 {
    grid-area: span 2/ span 2;
}

.ga3 {
    grid-area: span 3;
}
.ga3-2 {
    grid-area: span 3 / span 2;
    
}
.ga3-3 {
    grid-area: span 3 / span 3;
}